@using SitecoreMAUI.RenderingEngine.Service

@if (ServiceSettings.AppSettings.EnableExperienceEditor)
{
    <input type="text" value="@scmodel.value" />   
}
else
{
    @foreach (var line in resultString.Split(new[] { '\r', '\n' }, StringSplitOptions.RemoveEmptyEntries))
    {
        <p>@line</p>
    }

    @code {

    public string resultString => @scmodel.value;
    }

    
}


