@page "/"
@using Sitecore.MAUI.Service.Model
@using Sitecore.MAUI.Service.Service


@if (dynamicComponentRoot != null && dynamicComponentRoot.componenets != null)
{
    foreach (DynamicComponentModel dynamicComponent in dynamicComponentRoot.componenets)
    {
        @if (dynamicComponent != null && dynamicComponent.Parameters != null)
        {
            
            <DynamicComponent Type="@Type.GetType(dynamicComponent.ComponentType)" Parameters="dynamicComponent.Parameters" />
        }
        else
        {
            <h2>dynamicComponent or dynamicComponent.Parameters is null</h2>
        }

    }
}
else
{
    <h2>dynamicComponentRoot or dynamicComponentRoot.componenets is null</h2>
}


@code {

    private DynamicComponentRoot dynamicComponentRoot;

    protected override async Task OnInitializedAsync()
    {
        dynamicComponentRoot = await (new ServiceContext()).GetComponentJson();
    }
}


