@using Sitecore.MAUI.RenderingEngine.Service

@if (!ServiceSettings.AppSettings.EnableExperienceEditor)
{
    string href = string.Concat("/Index", scmodel?.value.href);
    <a href='@href' class="@scmodel?.value?.cls" >
        @scmodel?.value.text
        @customText
   </a>
}
else
{
   
}


