@using Sitecore.MAUI.RenderingEngine.Service

@if (!ServiceSettings.AppSettings.EnableExperienceEditor)
{
    bool isInternal = false;
    var model = scmodel?.value;

    if(model!=null)
    {
        isInternal = scmodel.value.linktype.Equals("internal");
    }

    string href = 
    (isInternal)?
    string.Concat("/Index", scmodel?.value.href,scmodel?.value?.querystring):
    string.Concat(scmodel?.value.href,scmodel?.value?.querystring);

   <a href='@href' class="@scmodel?.value?.cls" alt="@scmodel?.value?.title"  >
        @scmodel?.value.text
        @customText
   </a>   
}
else
{
   
}


