<div style="border:dashed 1px;">
    <h3>AllFieldsSample</h3>

    <p>@Model.Field_SIngleLineText.value</p>
    <p>@Model.Field_Integer.value</p>
    <p>@Model.Field_Number.value</p>
    <p>@Model.Field_RichText.value</p>

</div>

