@using Sitecore.MAUI.Blazor.Client.Shared.Components.Fields

<div style="border:dashed 1px;">
    <h3>AllFieldsSample</h3>

    <p><SCSingleLineText scmodel="@Model1.Field_SIngleLineText"></SCSingleLineText></p>
    <p><SCCheckbox scmodel="@Model1.Field_Checkbox"></SCCheckbox></p>
    <p>@Model1.Field_Number.value</p>
    <p>@Model1.Field_RichText.value</p>

</div>

