@using SitecoreMAUI.RazorClassClient.Shared.Components.Fields;

<footer class="page-footer font-small blue">    
    <div class="footer-copyright text-center py-3">
        <SCSingleLineText scmodel="@Model.CardTitle"></SCSingleLineText>
    </div>
</footer>
