@page "/"

@using Sitecore.MAUI.Service.Model
@using Sitecore.MAUI.Service.Service
@using Microsoft.Maui.Controls


@if (sitecoreContext != null && sitecoreContext.sitecore.route.placeholders != null)
{
    foreach (var _placeholders in sitecoreContext.sitecore.route.placeholders)
    {
        foreach (var _placeholdersList in _placeholders.Value)
        {
            @if (_placeholdersList != null && _placeholdersList.fields != null)
            {
                <!--Asynchronously load component-->
                <DynamicComponent Type="@Type.GetType(ServiceSettings.ClientComponentNamespace + _placeholdersList.componentName)"
                  Parameters="@ServiceContext.GetDynamicComponentModel(_placeholdersList.fields)" />
            }
            else
            {
                <h2>dynamicComponent or dynamicComponent.Parameters is null</h2>
            }
        }

    }
}
else
{
    <h2>dynamicComponentRoot or dynamicComponentRoot.componenets is null</h2>
}

 


@code {

    private SitecoreContext sitecoreContext;

    protected override async Task OnInitializedAsync()
    {
        sitecoreContext = ServiceContext.GetSitecoreContext();
    }


}


